// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post_bottom_box {
  display: flex;
  justify-content: space-between;
}

.raw_left {
  display: flex;
  margin-left: 15px;
  gap: 14px;
}

.raw_right {
  display: flex;
  align-self: flex-start;
}

.like-btn {
  font-size: 16px;
  color: #8899a6;
}

.unlike-btn {
  font-size: 16px;
  color: #e54747;
}

.fa-comment-dots {
  font-size: 16px;
  color: gray;
}

a {
  text-decoration: none;
}

.comment_group_item {
  display: flex
}

.comment_box {
  display: flex;
  padding-left: 10px;
}

.item_rigth {
  white-space: nowrap
}

@media (max-width: 768px) {
  h1 {
    font-size: 30px;
  }

  .tab__invisible {
    display: none;
  }

  .tab__size {
    font-size: 30px;
  }

  .img-responsive {
    width: 280px;
    length: 200px;
  }
}

@media (max-width: 479px) {
  h1 {
    font-size: 18px;
  }

  .phone__invisible {
    display: none;
  }

  .phone__size {
    font-size: 15px;
  }

  a {
    padding: 5px;
  }
}

.link__title {
  text-decoration: none;
  color: black;
}

.link__name {
  color: black;
  text-decoration: none;
}

.image_input_btn {
  display: block;
  background-color: rgb(117, 117, 116);
  width: 180px;
  height: 30px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 5px;
  padding-top: 2px;
  color: white;
  text-decoration: none;
  text-align: center;
}

.image_form {
  display: none;
}

.form-input {
  padding-bottom: 20px;
}

.posts__table {
  tr:hover {
    cursor: pointer;
  }

  margin: 0 auto;
  margin-bottom: 20px;
}

.thead {
  background-color: rgb(165, 165, 162);
}

.posts__searchForm {
  display: inline-block;
}

.posts__select {
  display: inline-block;
  width: auto;
}

.post__indexNew {
  position: relative;
  bottom: 2px;
}

.likes__items {
  float: right;
}

.posts__linkBox {
  a {
    margin: 0 8px
  }
}