// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post_bottom_box{
  display: flex;
  justify-content: space-between;
  }
  
  .raw_left{
  display: flex;
  margin-left: 15px;
  gap: 14px;
  }
  
  .raw_right{
  display: flex;
  align-self: flex-start;
  }
  
  .like-btn{
  font-size: 18px;
  color: #8899a6;
  }
  
  .unlike-btn{
  font-size: 18px;
  color: #e54747;
  }
  
  .fa-comment-dots{
  color:gray;
  }
  
  a{
  text-decoration: none;
  }
  
  .comment_group_item{
  display:flex
  }
  
  .comment_box{
  display: flex;
  padding-left: 10px;
  }
  
  .item_rigth{
  white-space: nowrap
  }